{% extends "base.html.twig" %}
{% block body %}
    <h1>Bienvenue sur la page de l'événement {{ evenement.nom }} !</h1>
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>Depenses</th>
            <th>Parts</th>
            <th>Actions</th>
        </tr>
        {% for p in evenement.personnesEvenement %}
            <tr>
                <td>{{ p.nom }}</td>
                <td>{{ p.depenses }}</td>
                <td>{{ p.parts }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path("modifierPersonne",{"idPersonne":p.id,"idEvenement":evenement.id}) }}">Modifier</a>
                    <a class="btn btn-danger" href="{{ path("supprimerPersonne",{"idPersonne":p.id,"idEvenement":evenement.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-warning" href={{path("evenements")}}>Retour</a>
    <a class="btn btn-primary" href={{path("ajouterPersonne",{"id":evenement.id})}}>Ajouter une personne</a>
    {% if evenement.personnesEvenement|length > 1 %}
        <a class="btn btn-primary" href={{path("calculerMontant",{"idEvenement":evenement.id})}}>Calculer le bilan</a>
        {% if dictionnaire is defined %}
            <table class="table">
                <tr>
                    <th>Nom</th>
                    <th>Bilan</th>
                </tr>
                {% for nom, bilan in dictionnaire %}
                    <tr>
                        <td>{{ nom }}</td>
                        {% if bilan > 0 %}
                            <td>doit recevoir {{ bilan|round(2, 'common') }}</td>
                        {% elseif bilan < 0 %}
                            <td>doit payer {{ bilan|abs|round(2, 'common') }}</td>
                        {% else %}
                            <td>a payé exactement sa part</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

{% endblock %}