{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'accueil du site !</h1>
    <h2>Liste des événements :</h2>
<table class="table">
    <tr>
        <th>Nom</th>
        <th>Actions</th>
    </tr>

{% for e in evenements %}
        <tr>
            <td>{{ e.nom }}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="{{ path("modifierEvenement",{"id":e.id}) }}">Renommer</a>
                <a class="btn btn-sm btn-danger{#" onclick="return confirm('Etes-vous sûr ?')" #}" href="{{ path("supprimerEvenement",{"id":e.id}) }}"><i class="fa fa-trash"></i></a>
                <a class="btn btn-sm btn-warning" href="{{ path("accueilEvenement",{"id":e.id}) }}">Gérer l'évènement</a>
            </td>
        </tr>
    {% endfor %}
</table>
    <a class="btn btn-primary" href="{{ path("ajouterEvenement") }}">Ajouter un évènement</a>
{% endblock %}
