{% extends "base.html.twig" %}
{% block body %}
    <h1>Modifier un évènement</h1>
    {{ form(formulaire) }}

    <a class="btn btn-warning" href="{{ path("evenements") }}">&lt; retour à la liste</a>
{% endblock %}