{% extends "base.html.twig" %}
{% block body %}
    <h1>êtes-vous vraiment sûr(e) de vouloir supprimer l'évènement {{ evenement.nom }} ?</h1>
    {{ form(formulaire) }}
    <a class="btn btn-warning" href="{{ path("evenements") }}">&lt; retour à la liste</a>
{% endblock %}