{% extends "base.html.twig" %}
{% block body %}
    <h1>Ajouter une personne à l'évènement</h1>
    {{ form(formulaire) }}

    <a class="btn btn-warning" href="{{ path("accueilEvenement",{"id":idEvenement}) }}">&lt; retour à la liste des personnes</a>
{% endblock %}